.additional-item {
  width: 320px;
  padding-top: 13px;
  padding-bottom: 19px;

  @media(min-width: @tablet-width) {
    width: 708px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 26px 38px 28px;
  }

  @media(min-width: @desktop-width) {
    width: 896px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

.additional-item__title {
  .title();
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media(min-width: @tablet-width) {
    margin: 0;
  }
}

.additional-item__button {
  .button ();
  width: 100%;

  @media(min-width: @tablet-width) {
    grid-column: 2 span;
    width: 100%;
  }

  @media(min-width: @desktop-width) {
    width: 244px;
  }
}
