.address__intro {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @light-black;
  margin: 0;
}

.address__text {
  line-height: 20px;
  font-style: normal;
}
