.example {
  background-color: @example-background;
  position: relative;

  @media(min-width: @desktop-width) {
    height: 598px;
  }
}

.example__title {
  .title();
  line-height: 40px;
  margin-bottom: 40px;
}

.example__description {
  margin: 0;

  @media(min-width: @desktop-width) {
    display: block;
    width: 436px;
  }
}

.item-example__argument {
  font-family: @oswald;
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.item-example__description {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.item-example--total .item-example__description,
.item-example--total .item-example__argument {
  font-family: @oswald;
  font-size: 14px;
  line-height: 20px;
}
