.nav-list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.nav-list__item {
  width: 100%;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @white;
}

.nav-list__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
