.promo {
  position: relative;
  background-color: @promo-background;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    background-color: @white;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    height: 499px;
  }
}

.promo__wrapper {
  @media(min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.promo__title {

  .title();
  color: @white;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @black;
    text-align: left;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-family: @oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @black;
    text-align: left;
    z-index: 2;
  }
}

.promo__image img {
  width: 280px;

  @media(min-width: @tablet-width) {
    width: 709px;
  }

  @media(min-width: @desktop-width) {
    width: 552px;
  }
}

.promo__image {
  display: flex;
  justify-content: center;

  @media(min-width: @tablet-width) {
    order: 2;
    margin-top: -50px;
  }

  @media(min-width: @desktop-width) {
    position: absolute;
    right: 25%;
    top: 0;
    margin: 0;
  }
}

.promo__button {
  .button();

  @media(min-width: @tablet-width) {
    width: max-content;
    order: 1;
    z-index: 1;
  }
}
